spring:
  profiles:
    active: dev

  application:
    name: untitles-api

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: 8070
  servlet:
    session:
      cookie:
        http-only: true
        same-site: strict
        max-age: 3600