spring:
  datasource:
    url: jdbc:mysql://${DB_HOST}:3306/untitles?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update

logging:
  level:
    org.hibernate.SQL: debug
